body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  min-height: 100vh;
}
header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: red 3px solid;
  box-shadow: 0 2px 10px -4px #555;
  justify-content: space-between;
  position: sticky;
  top: 0;
  color:#777;
  background-color: #fff;
}
.boxbottomborder{
  box-shadow: 0px 2px 6px -4px #555;
  padding: 8px 0px 8px 0px;
  margin: 0;
}

li{
  list-style: none;
  padding: 4px;
}

header>ul#headerleft{
  display: inline-flex;
}
header>ul#headerright {
  display: inline-flex;
}

.taskfegroup{
  display: flex;
}
.filter {
  flex-grow: 0.5;
}
.tasklistdetail{
  display: flex;
  flex-grow: 5;
}
.tasklistgroup{
  flex-grow: 1;
}
.tasklistheader{
  clear: both;
}
.tasklist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 2px 10px -4px #555;
  min-height: 100vh;
}
.task{
padding: 12px;
margin: 10px;
display: flex;
justify-content: space-between;
cursor:pointer;
border-left: 2px #ad192d solid;
}
.taskinfo{
text-align: left;
}
.taskpriority{
text-align: right;
align-self: end;
}

.taskdetail {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.taskdetailcontent{
display: grid;
grid-row-gap:2px;
padding: 14px;
}
.taskdetailcontent>div{
  font-size: 1.2em;
  padding: 2px;
  text-align: left;
}
.taskdetailcontent>div>ul{
  display: flex;  
  justify-content: space-between;
  padding:0;
}
.taskdetailcontent>div>ul>li {
  display: inline-flex;
  padding:1px;
}
.taskDetailMenuComponent{
  display: flex;
  justify-content: flex-start;
}

.taskDetailMenuComponent>span{
  padding: 5px;
  text-transform: capitalize;
  border-bottom: red 2px solid;
}
.tasldetailmenucontentcomponent{
height: 80vh;
}

footer{
  display: flex;
  background-color: black;
  color:#777;
  justify-content: space-between;
  padding:0;
  margin:0;
  position: sticky;
  bottom: 0px;
  border-top: 1px solid rgb(231, 228, 228);
}
#modellercontainer{
border: 1px solid #000000;
/* height: "90vh"; */
width: "50vw";
flex-wrap: wrap;
/* margin: "auto"; */
/* background-color: red; */
}